
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# Playwright reports
allure-report/
allure-results/

# Node.js dependencies
node_modules/

# Package files
package-lock.json
package.json

